<h1>Welcome</h1>
<p>Welcome to JournalFire 1.0.0</p>
<p>Post stories from the chronicles of your life and share them with the world or keep them private as your own diary, for your eyes only...</p>
{{#if user}}
{{else}}
  <a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}